<div class="page-header">
  <h1>All statuses</h1>
</div>

<%= link_to "Post a new status", new_status_path, class: "btn btn-success" %>

<% @statuses.each do |status| %>
<div class="status"> 
  <strong>Name</strong>
  <p><%= status.content %></p>
  <div class="meta">
    <%= link_to time_ago_in_words(status.created_at) + " ago", status %>
    <span class="admin">
      <%= link_to "Edit", edit_status_path(status) %> |
      <%= link_to "Delete", status, method: :delete, data: {confirm: "Are you going to delete it?"} %>
    </span>
  </div>
</div>
<%end%>
